@font-face {
  font-family: "iconfont"; /* Project id 3903906 */
  src: url('iconfont.woff2?t=1677410982869') format('woff2'),
       url('iconfont.woff?t=1677410982869') format('woff'),
       url('iconfont.ttf?t=1677410982869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zan:before {
  content: "\e62a";
}

.icon-shoucang:before {
  content: "\e625";
}

.icon-pinlun:before {
  content: "\e7f5";
}

.icon-fenxiang:before {
  content: "\e65f";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-gengduov:before {
  content: "\e8c4";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-bofang:before {
  content: "\ea82";
}

.icon-bofangliebiao:before {
  content: "\ea86";
}

.icon-jiarushoucang:before {
  content: "\e643";
}

.icon-shangyiqu2:before {
  content: "\e6e1";
}

.icon-xiayiqu2:before {
  content: "\e718";
}

.icon-yishoucang:before {
  content: "\e684";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-xiayiqu:before {
  content: "\e7ff";
}

.icon-shangyiqu:before {
  content: "\e800";
}

.icon-xunhuanbofang:before {
  content: "\e68d";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-bofang2:before {
  content: "\e8a3";
}

.icon-main:before {
  content: "\e674";
}

.icon-yinyue:before {
  content: "\e63a";
}

.icon-huatong:before {
  content: "\e65d";
}

.icon-pengyou:before {
  content: "\e609";
}

.icon-xiazai:before {
  content: "\e60f";
}

.icon-mv:before {
  content: "\e64b";
}

.icon-zuijinbofang:before {
  content: "\e8ad";
}

.icon-zhanghao:before {
  content: "\e632";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

